footer
  .container-fluid.col-md-10.col-md-offset-1
    a.about-link.navbar-brand(href='#') About
    a.contact-link.navbar-brand(href='#') Contact Us
    a.navbar-brand(href='/') &copy; Sports Guide 2015
