.jumbotron
    .container
      h1.pics Sports Guide
      p
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      //a.btn.btn-primary.btn-lg(href='./information/about.jade', role='button') ABOUT US »
  .container
    ul#pics
      li.pics
        h3 Soccer/Football
        h6 Lorem ipsum dolor sit amet consectetur.
        img(src='http://www.twu.ca/athletics/womens-soccer/news-release/2011-2012/natalie-boyd.jpg', height='250', width='320')
      li.pics
        h3 American Football
        h6 Lorem ipsum dolor sit amet consectetur.
        img(src='https://i.ytimg.com/vi/TsD5-z5vM8M/maxresdefault.jpg', height='250', width='320')
      li.pics
        h3 Baseball
        h6 Lorem ipsum dolor sit amet consectetur.
        img(src='http://www.massbay.edu/uploadedImages/Second_Level_Pages/Student_Life/baseball.jpg', height='250', width='320')
