extends ../layouts

block content

  h1 show page for sport
  .btn-group.btn-group-justified(role='group', aria-label='...')
    .btn-group(role='group')
      button.btn.btn-default(type='button') Left
    .btn-group(role='group')
      button.btn.btn-default(type='button') Middle
    .btn-group(role='group')
      button.btn.btn-default(type='button') Right
