.row
  .col-xs-10.col-xs-offset-1
    .btn-group.btn-group-justified(role='group', aria-label='...')
      .btn-group(role='group')
        button#history.btn.btn-default(type='button') HISTORY
      .btn-group(role='group')
        button#rules.btn.btn-default(type='button') RULES
      .btn-group(role='group')
        button#facts.btn.btn-default(type='button') FACTS
      .btn-group(role='group')
        button#teams.btn.btn-default(type='button') TEAMS
      .btn-group(role='group')
        button#news.btn.btn-default(type='button') NEWS
    #sports-container
      .soccer-history
        h1.text-center Soccer 101: History
        p
          | More than 240 million people around the world play soccer regularly according to the Federation Internationale de Football Association (FIFA). The game has evolved from the sport of kicking a rudimentary animal-hide ball around into the World Cup sport it is today.
        p
          | Records trace the history of soccer back more than 2,000 years ago to ancient China. Greece, Rome, and parts of Central America also claim to have started the sport; but it was England that transitioned soccer, or what the British and many other people around the world call “football,” into the game we know today. The English are credited with recording the first uniform rules for the sport, including forbidding tripping opponents and touching the ball with hands.
        p
          | As the sport developed, more rules were implemented and more historical landmarks were set. For example, the penalty kick was introduced in 1891. FIFA became a member of the International Football Association Board of Great Britain in 1913. Red and yellow cards were introduced during the 1970 World Cup finals. More recent major changes include goalkeepers being banned from handling deliberate back passes in 1992 and tackles from behind becoming red-card penalties in 1998.
        p
          | Some of the top players throughout history include Pele (Edson Arantes Do Nascimento) from Brazil, who scored six goals in the 1958 World Cup and helped Brazil claim its first title; Lev Yashin from Russia, who claimed to have saved more than 150 penalty shots during his outstanding goal-tending career; and Marco Van Basten from Holland, who won several very prestigious soccer awards during one year alone. There are many debates over who the greatest soccer players are of all time; but players like Zinedine Zidane, Diego Maradona, Michel Platini, Lionel Messi, and Roberto Baggio make almost every list.
        p
          | Top soccer matches in history include the 1953 match between Hungary (6) and England (3), during which England was defeated at home for the first time in history. Hungarian Nandor Hidegkuti scored the first goal in just 90 seconds, astounding the British players. Another noteworthy match in the history of soccer was the 1970 World Cup Final between Brazil (4) and Italy (1), during which Pele opened by scoring a header and two more subsequent goals. Many remember the World Cup Semifinal between West Germany (3) and France (3) in 1982, when French player Alain Giresse put the French ahead 3-1, then watched as Karl-Heinz scored an extraordinary comeback goal. The West Germans won on penalties, which was the first time a World Cup match finished in this fashion.
        p
          | There are many outstanding soccer stadiums around the world today. Some of the top stadiums in the history of soccer include Nou Camp in Barcelona, Spain, which remains the biggest soccer stadium in Europe; the plush venue of Louis II in Monte Carlo, Monaco, which is known as one of the most comfortable stadium in the world; and the International Stadium Yokohama in Yokohama, Japan, which is considered the most high-tech venue in the world because of its movable roof, huge replay screens, and hundreds of lights to eliminate any hint of shadows on the field.
        p
          | For over a century, despite protests from the Italians, England has been credited as having given birth to modern football. A claim which had looked quite solid until as recently as 2011, when a shocking find by historians traced football’s roots to a quite extraordinary place. An uncovered book, titled Vocabula, seemed to turn soccer’s history on its head. Written by an Aberdonian (citizen of Aberdeen in Scotland) it detailed a game in which two teams played with a ball on a field roughly the size of the present regulation pitches. Not only that, but terms such as keeper (goalkeeper), kick off, and switch halfs were also mentioned. How does this refute England’s claim, you might be thinking? Well, this account was written in the fourteenth century, more than 400 years before the English FA was formed.
        p
          | Not enough? Well, a football found behind a wall in Stirling Castle has been dated and named as the oldest in the world. It dates back to the fifteenth century.
        p
          | Finally, the oldest club was formed in 1824 in Edinburgh by John Hope. The only reason FIFA does not officially crown it with that honor is that the club stopped existing after 17 years.
        p
          | Groundbreaking facts, I’m sure you’ll agree. Was it ever going to be a surprise, considering the founder of the English FA was a Scotsman probably passing down generations of football knowledge to his neighbors across the border? Scotland was also the country who invented possession play, using short passes to work up the field into dangerous positions instead of the long ball hit and Hope’s tactics in practice before then.
        p
          | Football has a long and glorious history. Its methods have been refined and improved through the centuries to give us the king of all sports. Scotland, rightfully, can claim the title as its home. That is, currently. Who knows, maybe someone with a nose for history and a bit of determination will uncover evidence to refute Calendonias’ claim in the future. Until then, Scotland can proudly reclaim the mantle as the home of world football.
        a#soccer-history-link(target='_blank', href='http://www.athleticscholarships.net/history-of-soccer-football.htm') SOURCE
      .soccer-rules
        h1.text-center Soccer 101: Rules
        ul
          li
            | A football match is played by two teams, with each allowed no more than 11 players on the field at any one time, one of whom is a goalkeeper.
          li A match is played in two 45 minute halves.
          li
            | The game begins with the toss of a coin, and the winning captain decides which goal to defend or to take the first kick off.
          li
            | All players must use their feet head or chest to play the ball. Only the goalkeeper is allowed to use their hands, and only within their designated goal area.
          li
            | The aim of the game is to score a goal, which is achieved by kicking or heading the ball into the opposition team's goal.
          li
            | If the ball touches or crosses the side line, it is thrown back in by the team that was not the last to touch the ball.
          li
            | The game is controlled by a central referee and two linesmen who award free kicks and penalties when rules are broken. For continual breaking of rules or for a bad foul, players may be sent off.
        a#soccer-rules-link(target='_blank', href='http://www.topendsports.com/sport/soccer/basics.htm') SOURCE
      .soccer-facts
        h1.text-center Soccer 101: Facts
        ul
          li
            | No one knows exactly when soccer was created, but the earliest versions of the game can be traced back 3,000 years.
          li
            | Soccer is the most popular game in the world. In many countries it is known as “football”.
          li
            | In England, soccer was formed when several clubs formed the Football Association about 150 years ago.
          li
            | Women started playing soccer around the same time as men did in England. However, originally men were the main players in the game. Women’s soccer began to become extremely popular in the 90s.
          li
            | In China, the first soccer balls were made from sewn clothing that was filled with rubble. In Europe during the Middle Ages, soccer balls were made from inflated pig bladders.
          li
            | Today most of the balls are made from layers of synthetic leather while the bladders inside the ball are made from latex or butyl.
          li
            | Some of the different shots in soccer are the instep drive or knuckle shot, the swerve shot, the full volley, the half volley, the side volley, and the flying volley.
          li
            | The maximum number of players on a soccer team is 11. Some of the different positions are: goalkeeper, center-back, sweeper, fullback, wingback, center-midfielder, defensive midfielder, attacking midfielder, winger, forward, striker, and stopper.
          li
            | Soccer is played on a grassy field called a pitch. The field is rectangular and must be between 100 and 130 yards long and 50 to 100 yards wide.
          li
            | An international soccer game is 90 minutes long. The 90 minutes is divided in two 45 minute halves.
        a#soccer-facts-link(target='_blank', href='https://kidskonnect.com/sports/soccer/') SOURCE
       .soccer-teams
         h1.text-center Soccer 101: Teams
         ul
          li.teams
