.signup {
  display: none;
}

.login {
  display: none;
}

.user-show {
  display: none;
}

.about {
  display: none;
}

.contact {
  display: none;
}

.sport-show {
  display: none;
}

.soccer-history {
  display: none;
}

.soccer-rules {
  display: none;
}

.soccer-facts{
  display: none;
}
